###############################################################################
##                                Root Level                                 ##
###############################################################################
**/node_modules
**/package-lock.json
**/.env

###############################################################################
##                                   API                                     ##
###############################################################################

###############################################################################
##                                  Node Modules                             ##
###############################################################################

###############################################################################
##                                  Web App                                  ##
###############################################################################
**/dist
