###############################################################################
##                                Root Level                                 ##
###############################################################################
.env
###############################################################################
##                                   API                                     ##
###############################################################################
package-lock.json
###############################################################################
##                                  Node Modules                             ##
###############################################################################
node_modules
###############################################################################
##                                  Web App                                  ##
###############################################################################
