###############################################################################
##                                Root Level                                 ##
###############################################################################
**/node_modules
**/package-lock.json
**/.env

###############################################################################
##                                   API                                     ##
###############################################################################
package-lock.json
###############################################################################
##                                  Node Modules                             ##
###############################################################################
node_modules
###############################################################################
##                                  Web App                                  ##
###############################################################################
**/dist
