version: "3.7"
services:
  #############################################################################################
  ###                                         API                                           ###
  #############################################################################################
  veloute-api:
    container_name: veloute-api
    build:
      context: ./src/backend
      dockerfile: .docker/Dockerfile
    volumes:
    networks:
      - veloute-network
    ports:
  
  #############################################################################################
  ###                                       Frontend                                        ###
  #############################################################################################
  veloute-webapp:
    container_name: veloute-webapp
    build:
      context: ./src/frontend
      dockerfile: .docker/Dockerfile
    networks:
      - veloute-network
    ports:
  
  #############################################################################################
  ###                                       Database                                        ###
  #############################################################################################
  veloute-db:
    container_name: veloute-db
    image: postgres:10.21-alpine3.16
    networks:
      - veloute-network
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
    ports: 
      - ${DB_PORT:-5432}:5432

networks:
  veloute-network: 
    driver: "bridge"
